<header class="bg-blue-500 text-white p-4 flex items-center justify-between">
  <div class="flex items-center space-x-4">
    <img src="img/logo_gym.png" alt="Tornado Fitness Logo" class="w-25 h-20">
    <!--h1 class="text-2xl font-bold">TORNADO FITNESS</h1-->
  </div>
  <nav class="space-x-4">
    <a routerLink="/inicio" class="hover:underline">Inicio</a>

    <a href="#" class="hover:underline">Clases</a>
    <a routerLink="/entrenadores" class="hover:underline">Entrenadores</a>

    <a href="#" class="hover:underline">Membresías</a>
    <a href="#" class="hover:underline">Tienda</a>
  </nav>
  <button routerLink="/login" class="bg-white text-blue-500 px-4 py-2 rounded-lg font-semibold">
    Iniciar sesión
  </button>
  
  
</header>